server {
    # Nginx слушает порт 443
    listen 443 ssl;
    server_name {host};

    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 8.8.8.8;

    include /etc/nginx/snippets/letsencrypt.conf;

    charset UTF-8;
    # Указываем "динамическую" папку в качестве директории проекта
    root /var/www/projects/mooc;


    location = /public_files/ {
                autoindex on;
        }


    # Если мы обращемся по URL начинающийся с /public_files/
    # то мы будем подгружать "статичные" файлы хранящиеся в нем
    # в соответствии с наличием этих файлов в этой папке

    # Помним, что корневая директория /var/www/projects/mooc, и относительно неё будут подгружаться файлы
    # Тогда итоговый путь до файла при обращении по адресу {host}/public_files/test.txt будет:
    # /var/www/projects/mooc/public_files/test.txt
    location ~ ^/public_files/(.*)(.html|.css|.png|.jpg|.js|.svg|.conf) {
            types {
                        text/html  html;
                        text/css  css;
                        image/jpeg jpg;
                        image/png png;
                        application/x-javascript js;
                        image/svg+xml svg;
                        text/plain conf;
                    }
    }

    # = / означает, что был переход по адресу конректно {host}/
    location = / {
        return 301 https://$host:443/api-docs/;
    }

    # Если мы обращаемся по любому URL начиная с /
    # то сервер будет обрабатывать NodeJS
    location / {
            #Тут указываем IP|Url и порт (8000) для NodeJS (перенаправляем)
            #поскольку Nginx слушает 80 порт, а скрипт слушает 8000
            proxy_pass http://{host}:8000;
            proxy_set_header Host $host;
    }


    #error_log /var/log/nginx/debug.log debug;
}
